@model IEnumerable<HotelListingSystem.Models.Reservation>


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("_eHead")
</head>
<body>
    <main>
        <div class="container_body">
            <h1>all reservations </h1>
            <p>
                        @if (!User.IsInRole("Customer"))
                        {
                            @Html.ActionLink("Payment History", "history", "Payments", new { }, new { @class = "btn btn-sm btn-outline-dark back_btn" })
                        }
                    </p>
            <br />
            <table class="table" width="90%" id="example">
                <tr>
                    <th>ㅤㅤㅤㅤㅤ</th>
                    <th>Hotel Name</th>
                    <th>Name Reserved In</th>
                    <th>Room Type</th>
                    <th>Check-In Date</th>
                    <th>Check-Out Date</th>
                    <th>Days Reserved</th>
                    <th>Total Payable Cost</th>
                    <th></th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.DisplayFor(modelItem => item.Hotel.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.HotelUser.FullName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Room.Name)</td>
                            <td>@Html.Raw(item.CheckInDate.ToString().Substring(0, 10))</td>
                            <td>@Html.Raw(item.CheckOutDate.ToString().Substring(0, 10))</td>
                            <td>@Html.Raw(String.Format($"{((int)(item.CheckOutDate - item.CheckInDate).TotalDays)} days"))</td>
                            <td>@Html.Raw($"{item.TotalCost.ToString("C")} per day")</td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })  @*|
                                @Html.ActionLink("AddOns", "AddOns", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" }) |
                                @Html.ActionLink("Pay", "Create", "Payments", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })*@
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>ㅤㅤㅤㅤㅤ</th>
                        <th>Hotel Name</th>
                        <th>Name Reserved In</th>
                        <th>Room Type</th>
                        <th>Check-In Date</th>
                        <th>Check-Out Date</th>
                        <th>Days Reserved</th>
                        <th>Total Payable Cost</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</body>
</html>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
@Html.Partial("_eFooter")
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>