@model IEnumerable<HotelListingSystem.Models.Room>

@{
    ViewBag.Title = "IndexAll";
}

<h2> All Rooms</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sleeps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfBeds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balcony)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageName1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageContent1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageContentType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageFileSize1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageName2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageContent2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageContentType2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImageFileSize2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerRoom)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sleeps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfBeds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balcony)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageName1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageContent1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageContentType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageFileSize1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageName2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageContent2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageContentType2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomImageFileSize2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerRoom)
        </td>

    </tr>
}

</table>
